body {
  margin: 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  background: linear-gradient(#5acfd6, white);
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Homemade Apple', cursive;
  color: #0c4b8e;
}

h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5rem;
  color: #0c4b8e;
}

h3 {
  font-family: 'Crimson Text', serif;
  font-size: 2.0rem;
  color: #0c4b8e;
}

div.top-container {
  line-height: 1
}
.skill-row {width: 50%; margin: 100px auto 100px auto; text-align: left; line-height: 1.5;}


.identifier {
  font-weight: bold;
}

.web {
  text-decoration: underline;
}

.top-container {
  margin-top: 10%;
}

.middle-container {width: 75%; margin: 100px auto 100px auto;}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 25%;
  z-index: -1;
}

.bot-cloud {
  position: absolute;
  left: 25%;
  bottom: 30%;
}

.art {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.communication {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.education-img {
  width: 25%;
}

.research {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.resume {
  width: 25%;
}

.profilepic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%
}
.bottom-container {color: #0c4b8e;}
